.navbar {
    width: 100%;
    display: flex;
    ul {
        display: flex;
        background-color:var(--bk-color);
        height: 100vh;
        position: fixed;
        margin-top: 0;
        width: 60%;
        transform: translate(150%);
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        gap: 1em;
        top: 0;
        right: 0;
        padding-top: 4em;
        transition: transform 0.5s ease-in-out;

        li {
            list-style: none;
            margin-bottom: 1.2em;
        }
    
        a {
            padding: 0.7em;
            color: var(--black);
        }
        a:hover {
            font-weight: bolder;
        }
        .sm-col {
            align-items: center;
            display: flex;
            flex-direction: column;
            #register {
                text-align: center;
                width: 80%;
                padding: .7em 2em;
                border-radius: .8em;
                border: 1px solid black !important;
            }
        }
    }
    @media screen and (min-width: 768px) {
        .menu-items {
            flex-direction: row;
            transform: translate(0);
            width: 90%;
            height: auto;
            padding: 1.2em 0;
            justify-content: left;
            gap: 1.4em;
            align-items: center;
            .big-place-right {
                position: absolute;
                flex-direction: row;
                right: 1.5em;
            }
        }
        li {
            padding: 0;
            margin-bottom: 0 !important;
        }
        .checkbox, .hamburger-lines {
            display: none !important;
        }
        
    }
}
.container {
    padding: .5em 2em;
    width: 100%;
    height: auto;
    margin: auto;
    
    .logo {
        display: block;
        position: absolute;
        img {
            object-fit:contain;

        }
    }
}

.nav-container {
    padding: 1.5em;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .checkbox {
        position: fixed;
        right: 2em;
        display: block;
        height: 30px;
        width: 30px;
        opacity: 0;
        cursor: pointer;
        z-index: 101;
    }
    .hamburger-lines {
        position: fixed;
        right: 2em;
        height: 25px;
        width: 25px;
        z-index: 100;
    }

    
    input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
        padding: 5em 0;
        z-index: 20;
    }
    @media screen and (min-width: 768px) {
        input[type="checkbox"]:checked ~ .menu-items {
            padding: 1.2em !important;
            margin-bottom: 0;
        }
    }
    input[type="checkbox"]:checked ~ .hamburger-lines {
        display: none;
    }
    input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
    input[type="checkbox"]:checked ~ img{
        display: none;
    }
}
