.navbar {
    margin-top: 1em;
    width: 100%;
    display: flex;
    ul {
        display: flex;
        background-color:var(--bk-color);
        height: 100vh;
        position: fixed;
        width: 60%;
        transform: translate(150%);
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        gap: 1.5em;
        top: 0;
        right: 0;
        padding-top: 4em;
        transition: transform 0.5s ease-in-out;

        li {
            list-style: none;
    
        }
    
        a, label {
            margin-left: 1em;
            color: var(--black);
        }
        a:hover, label:hover {
            font-weight: bolder;
        }
        .sm-col {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 1em;
            #register {
                text-align: center;
                width: 80%;
                padding: .7em 1.2em;
                border-radius: .8em;
                border: 1px solid black !important;
            }
        }
    }
    @media screen and (min-width: 768px) {
        .menu-items {
            margin-top: 0;
            background-color: transparent;
            flex-direction: row;
            transform: translate(0);
            width: 90%;
            height: auto;
            padding: 1.2em 0;
            justify-content: left;
            top: 1em;
            gap: 1em;
            align-items: center;
            .big-place-right {
                position: absolute;
                flex-direction: row;
                right: 1.5em;
            }
        }
        li {
            padding: 0;
            margin-bottom: 0 !important;
        }
        .checkbox, .hamburger-lines {
            display: none !important;
        }
        
    }
}
.container {
    padding: .5em 2em;
    width: 100%;
    height: auto;
    margin: auto;
    
    .logo {
        display: block;
        position: absolute;
        top: 2em;
        img {
            object-fit:contain;

        }
    }
}

.nav-container {
    padding: 1.5em;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .checkbox {
        position: fixed;
        right: 2em;
        display: block;
        height: 30px;
        width: 30px;
        opacity: 0;
        cursor: pointer;
        z-index: 1000;
    }
    .hamburger-lines {
        position: fixed;
        right: 2em;
        height: 25px;
        width: 25px;
        z-index: 100;
    }
    .close-hamburger {
        visibility: hidden;
    }

    
    input[type="checkbox"]:checked ~ .menu-hamburger {
        display: none;
    }

    input[type="checkbox"]:checked ~ .close-hamburger{
        visibility: visible;
    }

    input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
        padding: 5em 0;
        z-index: 20;
    }
    @media screen and (min-width: 768px) {
        input[type="checkbox"]:checked ~ .menu-items {
            padding: 1.2em !important;
            margin-bottom: 0;
        }
    }
}







/* Please ❤ this if you like it! */



.sec-center {
    position: relative;
    max-width: 100%;
    z-index: 200;
}
[class="dropdown"]:checked,
[class="dropdown"]:not(:checked){
    position: absolute;
    opacity: 0;
    pointer-events: none;
}



.dropdown:checked + label,
.dropdown:not(:checked) + label{
    position: relative;
    transition: all 200ms linear;
    border-radius: 4px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #080804;
    box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}

.section-dropdown {
    position: absolute;
    padding: 1em .8em;
    background-color: rgb(255, 255, 255);
    top: 1.5em;
    left: 0;
    gap: 1em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 200ms linear;

    a {
        font-size: smaller;
        transition: all 200ms linear;
        width: 100%;
    }
    
}

.dropdown:checked ~ .section-dropdown{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.dropdown:checked ~ label .rot-180 {
    rotate: 180deg;
}
