

/********** End RESET **********/




a, a:hover {
	text-decoration: none;
}
#nav {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav > a {
    z-index: 10;
	display: none;
}
#nav li {
	position: relative;
}
#nav li a {
	color: rgb(0, 0, 0);
	display: block;
}


/* first level */
.arrow-up {
    span{
        margin-left: .5em;
    }
}

.row-this {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

#nav > ul > li {
    font-size: 1.2rem;
    
	float: left;
}
#nav > ul > li > a, a {
    color: var(--mid-gray);
	font-size: 1em; /* 24 */
	line-height: 2em; /* 60 (24) */
	text-align: left;
}
#nav > ul > li > a:hover, a:hover {
    color: var(--black);
}

/* second level */

	#nav li ul {
    background-color: var(--bk-color);
    width: 150px;
	display: none;
	position: absolute;
	top: 100%;
    font-size: 1rem;
    padding: 1em;
    border-radius: .7em;
    cursor: pointer;
    transition: all 200ms linear;
    }
    #nav li:hover ul {
        display: block;
        left: 0;
        right: 0;
    }
    #nav li:not( :first-child ):hover ul {
        left: -1px;
    }
    #nav li ul a {
        color: var(--mid-gray);
        font-size: 1.2rem;
    }
    #nav li ul li a:hover, #nav li ul:not( :hover ) li.active a {
        color: var(--black);
    }
@media only screen and ( max-width: 1920px ) {
        #nav li ul {
            width: 170px;
            box-shadow: 0 0 10px rgba(77, 77, 77, 0.45);
        }
        #nav {
            width: 100%;
            position: static;
            margin: 0;
        }
        #nav > ul {
            display: flex;
            justify-content: flex-start;
            padding-left: 0;
            width: 90%;
            gap: 1.5em;
            align-items: center;
            .big-place-right {
                position: absolute;
                flex-direction: row;
                right: 1.5em;
                #register {
                    margin-left: 1em;
                    text-align: center;
                    padding: .7em 1.2em;
                    border: 1px solid var(--black) !important;
                    border-radius: .8em;
                }
        /* 60 */
            }
            
        }
}

 @media only screen and ( max-width: 40em ) /* 640 */ {
        
    #nav li ul {
        width: 160px;
        box-shadow: none;
    }
        #nav {
            top: auto;
            left: auto;

            ul {
                background-color: var(--bk-color);
                display: flex;
                margin-top: 0;
                top: 0;
                width: 60%;
                padding-top: 5em;
                padding-left: 1em;
                transition: transform 0.5s ease-in-out;
                .sm-col {
                    position: relative;
                    margin-top: 1.5em;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    #register {
                        text-align: center;
                        width: 90%;
                        padding: .7em 1.2em;
                        border-radius: .8em;
                        border: 1px solid black !important;
                    }
                }
            }
        }
        #nav li ul {
            margin-left: 1.5em;
            padding-left: 1em;
        }
        #nav > a {
            position: relative;
        }
        #nav > a:before, #nav > a:after {
            position: absolute;
            content: '';
        }
        #nav > a:after {
            top: 60%;
        }
        #nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type {
            display: block;
        }
        /* first level */

                    #nav .clearfix {
            height: 100vh;
            display: none;
            position: absolute;
                right: 0;
        }
        #nav:target > ul {
            display: block;
        }
        #nav > ul > li {
            width: 100%;
            float: none;
        }
        #nav > ul > li > a {
            line-height: 2.5em;
            height: auto;
            text-align: left;
            padding: 0 0.833em; /* 20 (24) */
        }
        
        /* second level */

                        #nav li ul {
            position: static;
            padding: 1.25em; /* 20 */
            padding-top: 0;
        }
}

li[type="checkbox"]:checked ~ .arrow-up span img{
    display: none;
}