h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul, li {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
}

h1{
    color: var(--black);
    text-align: center;
    width: 100%;
}
p{
    color: var(--mid-gray);
    text-align: center;
}
.content {
    background-color: aqua;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        padding: .5em 1em;
        background-color: var(--black);
        color: var(--bk-color);
    }
}